{% load i18n  %}
{% for bookmark in bookmarks_snippets %}
	{% with snippet=bookmark.snippet %}
		<div class="snippet">
			<div>
				<h3>
					<a class="unbookmark" href="{% url 'snippet.views.bookmark_snippet_delete' snippet.slug %}" title="{% trans "Delete bookmark" %}">
						<img src="{{ STATIC_URL }}img/star_full.png" alt="{% trans "Delete bookmark" %}">
					</a>

					<a href="{% url 'snippet-view' snippet.slug %}">{{ snippet.get_title }}</a>
					<span>
						{% if snippet.user %}
							{% trans "by" %} <a href="{% url 'snippet.views.user_profile' snippet.user.username %}">{{ snippet.user.username }}</a>
						{% endif %} {% trans "in" %}
						<a href="{{ self_url }}?language={{ snippet.language.pk }}">{{ snippet.language.name }}</a>
						{% if user.is_authenticated and snippet.user == user %}
							, <a href="{% url 'snippet.views.edit' snippet.slug %}">{% trans "edit" %}</a>,
							<a href="{% url 'snippet.views.delete' snippet.slug %}">{% trans "delete" %}</a>
						{% endif %}
					</span>
				</h3>
				<p class="date">{{ snippet.pub_date }}</p>
			</div>

			<div class="content cleaner">
				<div class="description">
					{% if show_code %}
						<div class="code">
							{{ snippet.highlighted_content|safe }}
						</div>
					{% endif %}
				</div>

				<div class="snippet-metadata rating-only">
					<p class="value">{{ snippet.rating }}</p>
					{% if user.is_authenticated and snippet not in user_ratings %}
						<p class="rating">
							<a class="minus" href="{% url 'rate-dislike' snippet.slug %}">-</a>
							<a class="plus" href="{% url 'rate-like' snippet.slug %}">+</a>
						</p>
					{% endif %}
				</div>
				<br class="cleaner">
			</div>
			<hr>
		</div>
	{% endwith %}
{% endfor %}
