{% load i18n endless %}
{% paginate snippets %}
{% for snippet in snippets %}
	<div class="snippet">
		<h3>
			<a href="{% url 'snippet-view' snippet.slug %}">{{ snippet.get_title }}</a>
			<span>
				<a href="{{ self_url }}?languages={{ snippet.language.name }}">{{ snippet.language.name }}</a>,
				{{ snippet.date }},
				<a href="{% url 'snippet.views.edit' snippet.slug %}">{% trans "edit" %}</a>,
				<a href="{% url 'snippet.views.delete' snippet.slug %}">{% trans "delete" %}</a>
			</span>
		</h3>

		{% if show_code %}
			<div class="code">
				{{ snippet.highlighted_content|safe }}
			</div>
		{% endif %}
	</div>
{% endfor %}
{% show_more %}
