{% load absolute_url %}
<div class="social">
	{# FB #}

	{% url 'snippet-view' snippet.slug as share_url %}
	<div class="fb-share-button" data-href="{% build_absolute_url share_url %}" data-type="button_count"></div>

	{# G+ #}
	<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{% build_absolute_url share_url %}"></div>

	{# Twitter #}
	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-href="{% build_absolute_url share_url %}">Tweet</a>
</div>
