{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ snippet.title }} | {{ block.super }}{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
{% endblock %}

{% block content %}
<div class="snippet">
	<div class="snippet-header">
		<div class="snippet-title">
			<h2>
				{% if user.is_authenticated %}
					{% spaceless %}
						{% if snippet in user_bookmarks %}
							<a class="unbookmark" href="{% url 'snippet.views.bookmark_snippet_delete' snippet.slug %}" title="{% trans "Delete bookmark" %}">
								<img src="{{ STATIC_URL }}img/star_full.png" alt="{% trans "Delete bookmark" %}">
							</a>
						{% else %}
							<a class="bookmark" href="{% url 'snippet.views.bookmark_snippet' snippet.slug %}" title="{% trans "Bookmark" %}">
								<img src="{{ STATIC_URL }}img/star_empty.png" alt="{% trans "Bookmark" %}">
							</a>
						{% endif %}
					{% endspaceless %}
				{% endif %}

				{{ snippet.title }}

				{% if snippet.user %}
					<span class="author">{% trans "by" %} <a href="#">{{ snippet.user }}</a></span>
				{% endif %}
			</h2>

			<p class="dates">
				{{ snippet.pub_date }}
				{% if snippet.update_date > snippet.pub_date %}
				, {% trans "updated" %} {{ snippet.update_date }}
				{% endif %}
				{% if user.is_authenticated and snippet.user == user %}
					, <a href="{% url 'snippet.views.edit' snippet.slug %}">{% trans "edit" %}</a>,
					<a href="{% url 'snippet.views.delete' snippet.slug %}">{% trans "delete" %}</a>
				{% endif %}
			</p>

			<p class="actions">
				<a href="javascript:alert('FIXME!')">{% trans "Maximize" %}</a>,
				<a href="{% url 'snippet-download' snippet.slug %}">{% trans "Download" %}</a>,
				<a href="{% url 'snippet-raw' snippet.slug %}">{% trans "Raw" %}</a>,
				<a href="javascript:alert('FIXME!')">{% trans "Embed" %}</a>
			</p>
		</div>
		<div class="snippet-metadata">
			<p>{% trans "Language" %}: {{ snippet.language.name }}</p>
		</div>
		<br class="cleaner">
	</div>

	<div class="content">
		<div class="highlight">
			{{ snippet.highlighted_content|safe }}
		</div>
	</div>
</div>
{% endblock %}
