{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ snippet.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="snippet">
	<div class="snippet-header">
		<div class="snippet-title">
			<h2>
				{{ snippet.title }}

				{% if snippet.user %}
					<span class="author">{% trans "by" %} <a href="#">{{ snippet.user }}</a></span>
				{% endif %}
			</h2>

			<p class="dates">
				{{ snippet.pub_date }}
				{% if snippet.update_date > snippet.pub_date %}
				, {% trans "updated" %} {{ snippet.update_date }}
				{% endif %}
				{% if user.is_authenticated and snippet.user == user %}
					, <a href="{% url 'snippet_edit' snippet.slug %}">{% trans "edit" %}</a>,
					<a href="{% url 'snippet_delete' snippet.slug %}">{% trans "delete" %}</a>
				{% endif %}
			</p>

			<p class="actions">
				<a href="javascript:alert('FIXME!')">{% trans "Maximize" %}</a>,
				<a href="{% url 'snippet_download' snippet.slug %}">{% trans "Download" %}</a>,
				<a href="{% url 'snippet_raw' snippet.slug %}">{% trans "Raw" %}</a>,
				<a href="{% url 'snippet_embed' snippet.slug %}">{% trans "Embed" %}</a>
			</p>
		</div>
		<div class="snippet-metadata">
			<p>{% trans "Language" %}: {{ snippet.language.name }}</p>

			{% if snippet.file_name %}
				<p>{% trans "File" %}: {{	snippet.file_name }}</p>
			{% endif %}
		</div>
		<br class="cleaner">
	</div>

	<div class="content">
		<div class="highlight">
			{{ snippet.highlighted_content|safe }}
		</div>
	</div>
</div>
{% endblock %}
