html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.stripe {
  background-color: #00628B;
  border-bottom: 5px solid #81A594;
  height: 90px;
  text-align: center;
}
.header {
  width: 1200px;
  margin: 0 auto;
}
.header h1 {
  padding: 30px 0 0 10px;
  margin: 0;
  float: left;
  font-size: 28px;
  font-weight: normal;
}
.header h1 a {
  color: #E6E6DC;
  text-decoration: none;
}
.header h1 a span {
  color: #81A594;
}
.header div {
  width: 980px;
  float: right;
}
.header div #menu {
  margin: 0;
  padding: 38px 0 0 0;
  font-size: 18px;
}
.header div #menu {
  float: left;
  font-weight: 300;
}
.header div #menu li {
  display: block;
  float: left;
  margin: 0 10px 0 10px;
}
.header div #menu li a {
  color: #E6E6DC;
  text-decoration: none;
}
.header div #login-box {
  margin: 0;
  padding: 32px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  float: right;
}
.header div #login-box li {
  display: block;
  float: left;
  margin: 0 10px 0 10px;
}
.header div #login-box li a {
  text-decoration: none;
}
.header div #login-box .button {
  width: 140px;
  height: 25px;
  padding: 5px 0 0 0;
}
.header div #login-box .button.login {
  background-color: #E6E6DC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.header div #login-box .button.login a {
  color: #00628B;
}
.header div #login-box .button.register {
  background-color: #81A594;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.header div #login-box .button.register a {
  color: #E6E6DC;
}
.header div #login-box .link {
  padding-top: 4px;
}
.header div #login-box .link a {
  color: #E6E6DC;
}
#page {
  text-align: left;
  margin: 0 auto;
  width: 1200px;
  z-index: 10;
  position: relative;
}
#page.max {
  width: 100%;
}
#content {
  padding: 20px 10px 20px 10px;
}
input,
textarea,
select {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
form.table td.label {
  width: 200px;
  text-align: right;
  padding: 0 10px 0 0;
}
form.table td {
  padding: 5px;
}
form.table td input {
  width: 100%;
}
form.table td input[type="radio"] {
  width: auto;
}
form.table td input[type="range"] {
  width: 70%;
}
form.table td input[type="submit"],
form.table td input[type="reset"],
form.table td input.cancel,
form.table td .button {
  width: auto;
  border: none;
  color: #E6E6DC;
  padding: 6px 40px 6px 40px;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
form.table td input[type="submit"] {
  background-color: #00628B;
}
form.table td input[type="reset"],
form.table td input.cancel {
  background-color: #81A594;
}
form.table.inline input[type="submit"] {
  margin-left: 10px;
}
#snippet-form table {
  width: 90%;
}
#snippet-form textarea {
  width: 100%;
  height: 400px;
}
#snippet-form td {
  padding: 2px;
}
#snippet-form td.file {
  padding-left: 20px;
}
#snippet-form ul#id_accessibility {
  margin: 0;
  padding: 0;
}
#snippet-form ul#id_accessibility li {
  display: block;
  list-style-type: none;
  float: left;
  width: 25%;
}
#snippet-form ul#id_accessibility input[type="radio"] {
  background-image: url('/static/img/radio.png');
}
.snippet {
  color: #232729;
}
.snippet .snippet-header .snippet-title {
  float: left;
}
.snippet .snippet-header .snippet-title h2 {
  color: #00628B;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0 0;
}
.snippet .snippet-header .snippet-title h2 span,
.snippet .snippet-header .snippet-title h2 a {
  color: #232729;
}
.snippet .snippet-metadata {
  float: right;
  margin: 10px 0 0 0;
  text-align: right;
}
.snippet .snippet-metadata p {
  margin: 10px 0 10px 0;
  padding: 0;
}
.snippet .snippet-metadata .value {
  float: left;
  margin-right: 10px;
}
.snippet .dates {
  font-style: italic;
}
.snippet .actions a,
.snippet .dates a {
  color: #232729;
}
.snippet .highlight {
  overflow: auto;
}
#footer {
  height: 60px;
  text-align: center;
  border: none;
}
#footer p {
  width: 1200px;
  text-align: right;
  background-color: #00628B;
  color: #E6E6DC;
  padding: 20px 0 0 0;
  margin: 0 auto;
}
#footer a {
  color: #E6E6DC;
}
#footer:hover {
  text-decoration: none;
}
.filters table {
  width: 100%;
}
.filters table td {
  width: 250px;
}
.filters table td input {
  width: 100%;
}
.filters table td input[type="checkbox"] {
  width: auto;
}
.filters table td textarea {
  height: 110px;
}
.filters table td select[multiple="multiple"] {
  height: 125px;
}
.filters table td.label {
  width: 90px;
  text-align: right;
  padding-right: 10px;
}
.filters table td.submit {
  text-align: right;
}
.filters table td.submit input {
  margin: 0 0 0 20px;
}
.filters table td.submit a {
  color: #232729;
}
.filters table td.submit a:hover {
  text-decoration: none;
}
.browse h3 {
  float: left;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  font-size: 18px;
  font-weight: normal;
}
.browse h3 a {
  color: #00628B;
  text-decoration: none;
}
.browse h3 a:hover {
  text-decoration: underline;
}
.browse h3 span a {
  text-decoration: underline;
  color: #232729;
}
.browse h3 span a:hover {
  text-decoration: none;
}
.browse p.date {
  float: right;
  padding: 10px 0 0 0;
  margin: 0;
}
.browse .description {
  float: left;
}
table.api-keys {
  width: 100%;
}
table.api-keys td {
  padding: 5px;
}
.cleaner {
  clear: both;
}
#id_honeypot {
  display: none;
}
.zero-indent {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid #dddddd;
}
