{% load i18n el_pagination_tags %}
{% paginate snippets %}
{% for snippet in snippets %}
	<div class="snippet">
		<div>
			<h3>
				<a href="{% url 'snippet_view' snippet.slug %}">{{ snippet.get_title }}</a>
				<span>
					{% if snippet.user %}
						{% trans "by" %}
						{{ snippet.user.username }}
					{% endif %}

					{{ snippet.file_name }}

					{% trans "in" %}
					<a href="{{ self_url }}?language={{ snippet.language.pk }}">{{ snippet.language.name }}</a>
					{% if user.is_authenticated and snippet.user == user %}
						, <a href="{% url 'snippet_edit' snippet.slug %}">{% trans "edit" %}</a>,
						<a href="{% url 'snippet_delete' snippet.slug %}">{% trans "delete" %}</a>
					{% endif %}
				</span>
			</h3>
			<p class="date">{{ snippet.pub_date }}</p>
		</div>

		<div class="content cleaner">
			<div class="description">
				{% if show_code %}
					<div class="code">
						{{ snippet.highlighted_content|safe }}
					</div>
				{% endif %}
			</div>
			<br class="cleaner">
		</div>
		<hr>
	</div>
{% endfor %}
{% show_more %}
