{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Profile" %} | {{ block.super }}{% endblock %}

{% block content %}
<h2>{% trans "Account settings" %}</h2>

<h3>{% trans "API keys" %}</h3>
<table class="api-keys">
	<tr>
		<th>{% trans "Key" %}</th>
		<th>{% trans "Description" %}</th>
		<th>{% trans "Uses" %}</th>
		<th>{% trans "Last use" %}</th>
		<th>{% trans "Action" %}</th>
	</tr>
	{% for key in api_keys %}
	<tr>
		<td><code>{{ key.key }}</code></td>
		<td>{{ key.description }}</td>
		<td>{{ key.use_count }}&times;</td>
		<td>{{ key.last_use }}</td>
		<td><a href="{% url 'api_key_delete' key.key %}">{% trans "delete" %}</a></td>
	</tr>
	{% empty %}
	<tr>
		<td>{% trans "No API keys configured." %}</td>
	</tr>
	{% endfor %}
</table>

<h4>{% trans "Add API key" %}</h4>
<form action="{% url 'api_key_add' %}" method="post" class="table inline">
	{% csrf_token %}
	<table>
		<tr>
			<td>{{ key_form.description.label_tag }}</td>
			<td>{{ key_form.description }}</td>
			<td><input type="submit" value="{% trans "Add" %}"></td>
		</tr>
	</table>
</form>

{% endblock %}
