{% load i18n static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/pygments.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

		<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>

		{% block css %}
		{% endblock %}

		{% block js %}
		{% endblock %}

		<script type="text/javascript" src="{% static 'js/snippet.js' %}"></script>

		<title>{% block title %}HaveSnippet{% endblock %}</title>
	</head>
	<body>
		<div class="stripe">
			<div class="header">
				<h1><a href="{% url 'snippet_new' %}"><span>Have</span>Snippet</a></h1>

				<div>
					<ul id="menu">
						{% if settings.allow_paste %}
							<li><a href="{% url 'snippet_new' %}">{% trans "New snippet" %}</a></li>
						{% endif %}

						{% if user.is_authenticated %}
							<li><a href="{% url 'snippet_browse_mine' %}">{% trans "My snippets" %}</a></li>
						{% endif %}

						<li><a href="{% url 'snippet_browse' %}">{% trans "Browse" %}</a></li>
						<li><a href="{% url 'api_about' %}">{% trans "API" %}</a></li>
					</ul>
					<ul id="login-box">
						{% if user.is_authenticated %}
							<li class="button register"><a href="{% url 'snippet_my_profile' %}">{% trans "Settings" %}</a></li>
							<li class="link"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
						{% else %}
							<li class="button login"><a href="{% url 'login' %}">{% trans "Login" %}</a></li>

							{% if settings.registration_open %}
								<li class="button register"><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
							{% endif %}
						{% endif %}
					</ul>
				</div>

				<br class="cleaner">
			</div>
		</div>

		<div id="page" class="{% if snippet_max %}max{% endif %}">
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}

			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>

		<div id="footer" class="stripe">
			<p>
				{% trans "Powered by" %}
				<a href="https://github.com/aither64/havesnippet">HaveSnippet</a>
			</p>
		</div>
	</body>
</html>
